ul{
    display: flex; 
}
li{
    background-color: grey;
    color: white;
    list-style: none;
    padding: 5px;
    width: 100%;
    margin-right: 10px;
}
li:hover{
    background-color: black;
    cursor: pointer;
}