ul {
  text-align: center;
}
li {
  display: inline;
  border: 1px solid black;
  list-style-type: none;
}
h1 {
  text-align: center;
}
img {
  text-align: left;
  border-radius: 50%;
  width: 50px;
}
